<h1>Hello Lads Welcome on Rails Server</h1>
<br><br>
<div>
	<p>Table Details </p>
	
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
    </tr>

    <% @articles.each do |article| %>
    <tr>

    		<td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
    </tr>
    <% end %>
</table> 

</div>